# Data Sceince Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized

### Objectives:
* Listing popular languages for Data Science in order
* Craeting a table for Data Science Tools 
* Writing expressions in a code cell

### Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3. Julia

### Table 


|Data Science Tools   |
|---------------------|
|RStudio|
|Jupyter Notebook|
|Visual Studio Code|

### Below are a few examples of evaluationg arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers.

In [18]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [22]:
(200/60)

3.3333333333333335

## Author 
Nihel Touil